language: ruby
cache: bundler
env:
  - RAILS_ENV=test
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.travis.yml config/database.yml
script:
  - bin/rake db:migrate
  - rspec
